extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box


        h1#about-heading Zachary Baca


        p#title-heading Full Stack Web Developer


        .about-bio

         h2#about-heading About Me

         p From the moment I wrote my first line of code, I knew I’d found something special. What started as curiosity quickly became a passion—and today, I’m a dedicated web developer who thrives on solving problems, building intuitive user experiences, and constantly learning new tools and technologies.
         p I’m energized by the challenge of transforming ideas into real, impactful applications. For me, coding isn’t just a career path—it’s a daily practice, a creative outlet, and a source of purpose. I take pride in writing clean, efficient code and collaborating with teams to build software that genuinely helps people.
         p After completing immersive training at Kenzie Academy, I’m excited to bring my skills to a Full-Stack Web Developer role where I can contribute to meaningful projects, grow alongside talented engineers, and deliver real value to users.
         p If my work resonates with you and you believe I’d be a great fit for your team, I’d love to connect. Please feel free to reach out using the contact form below.

          .form
            form(id="contactForm", action="/submit-form", method="post")
              label(for="name") Enter Your Name:
              input(id="name", type="text", name="name" required)
              label(for="email") Enter Your Email:
              input(id="email", type="email", name="email" required)
              label(for="message") Enter A Message:
              textarea(id="message", name="message", cols="30", rows="5" required)
              button(type="submit") Submit

      .skills-contact-box.box
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Python
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch API
          li Axios
          li Node.js
          li Express
          li Pug
          li ReactJS
          li React Router
          li React Context API
          li Django
          li DB2
          li COBOL
          li VSAM
          li zOS
          li KnexJS
          li Angular
          li Typescript
          li EmailJS
          li Bootstrap


        a.btn-link(href='https://www.zachary-baca.dev/download/software-engineer-resume.pdf', target="_blank") Download Resume
        a.btn-link(href='https://www.linkedin.com/in/zacharyjordanbaca/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/zacharybaca', target="_blank") GitHub



    nav.nav
      a(href='/')
        span &larr;
        |  Back
