extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box


        h1 Zachary Baca


        p Full Stack Web Developer


        .about-bio


          p   From the moment I wrote my first line of code, I was hooked. As a passionate web developer, I thrive on challenges and constantly seek to expand my skill set. The instant gratification of bringing ideas to life through code is incredibly rewarding, especially knowing that the apps I help create can make a positive impact on people's lives.
          p   For me, coding isn't just a job—it's a daily hobby and a source of joy. I’m eager to leverage the skills and knowledge I gained from my training at Kenzie Academy in a Full-stack Web Developer role, where I can continue to grow and contribute to meaningful projects.
          p   If you like what you see, and think I may bring some value to your team, please use the contact form below to reach me.

          
          .form 
            form(id="contactForm", action="/submit-form", method="post")
              label(for="name") Enter Your Name: 
              input(id="name", type="text", name="name")
              label(for="email") Enter Your Email: 
              input(id="email", type="email", name="email")
              label(for="message") Enter A Message: 
              textarea(id="message", name="message", cols="30", rows="5")
              button(type="submit") Submit 

      .skills-contact-box.box
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Python
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch API
          li Axios
          li Node.js
          li Express
          li Pug
          li ReactJS
          li React Router 
          li React Context API
          li Django
          li DB2
          li COBOL
          li VSAM
          li zOS
          li KnexJS
          li Angular
          li Typescript
          li EmailJS
          li Bootstrap

        h6 Contact Info


        ul
          li Phone: 219-851-2031
          li Email: zachary@zachary-baca.dev

        a.btn-link(href='https://www.zachary-baca.dev/download/revised-resume.pdf') Download Resume
        a.btn-link(href='https://www.linkedin.com/in/z46350/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/zacharybaca', target="_blank") GitHub

      

    nav.nav
      a(href='/')
        span &larr;
        |  Back
