extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Zachary Baca

        
        p Full Stack Web Developer


        .about-bio

          
          p   Ever since I had written my first piece of code, I knew I was hooked. I am a passionate web developer who seeks challenges and wants to learn new skills every day. It is instant gratification for me to see what I am able to create with code. It also makes me happy knowing that apps that I help create, are helping people in need, and providing them with a better life. Really, I don't think of coding as a job; it is more of a hobby for me, which I do every day. I am seeking a role as a Fullstack Web Devloper to build upon the training that I received at Kenzie Academy.


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Python
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch API 
          li Axios
          li Node.js
          li Express
          li Pug
          li ReactJS 
          li Django 
          li DB2 
          li COBOL 
          li VSAM 
          li zOS 
          li KnexJS
          li Angular 
          li Typescript 

        h6 Contact Info

        
        ul
          li Phone: 219-448-1026
          li Email: zachary.baca@msn.com
        
        a.btn-link(href='https://www.zacharybaca.dev/download/resume.pdf') Download Resume
        a.btn-link(href='https://www.linkedin.com/in/z46350/') LinkedIn
        a.btn-link(href='https://github.com/zacharybaca') GitHub
        

    nav.nav
      a(href='/')
        span &larr;
        |  Back