<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Zachary Baca - Software Engineer
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel='me', href='https://social.vivaldi.net/@bacazachary')
    


  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile.jpg', alt='profile picture')
        .dev-intro-box


          h5#name-heading Zachary Baca


          p Hello! I’m Zachary, a passionate Full-Stack Web Developer who thrives on turning ideas into responsive, user-friendly web applications. Whether enhancing existing platforms or building from scratch, I use modern technologies and proven best practices to deliver clean, scalable solutions.
          p Coding isn’t just what I do—it’s what I love. I’m constantly exploring new tools, refining my skills, and building projects that solve real problems.
          p Take a look at some of my recent work, and if you think I’d be a valuable addition to your team, feel free to connect. To learn more about my experience, scan the QR code below to view my resume.

          img.qr-image(src='/static/images/resume-qr-code.png', alt='Preview My Online Resume' title='Preview Digital Resume')


          a.qr-image(href='./about') Learn More &rarr;

          

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')


          span Zachary Baca

      block content

  script(src='/static/js/script.js')
