<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Zachary Baca - Software Engineer
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    


  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile.jpg', alt='profile picture')
        .dev-intro-box


          h5#name-heading Zachary Baca


          p Hello! I'm Zachary, a passionate Full-stack Web Developer. I specialize in both enhancing existing web applications and building them from the ground up, using the latest technologies and best practices.
          p For me, coding isn't just a job—it's a hobby that I genuinely enjoy, even more than watching TV! I invite you to explore my recent projects to get a glimpse of what I can do and see if I could be a great fit for your team.
          p If you're interested in learning more about my experience, just scan the QR code below to view my resume.

          img.qr-image(src=`https://api.qrserver.com/v1/create-qr-code/?data=https://www.zachary-baca.dev/download/software-engineer-resume.pdf&amp;size=100x100`, alt='Preview My Online Resume' title='Preview Digital Resume')


          a.qr-image(href='./about') Learn More &rarr;

          

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')


          span Zachary Baca

      block content

  script(src='/static/js/script.js')
